.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*********************************** CUSTOM CSS ************************************************/

.ui.inverted.menu { /* No border radisu */
  border-radius: 0px !important;
}

.ui.menu .item:before { /* No border at buttons in menu */
  display: none;
}

.right.floated.content {
  padding-top: 7px;
}

.profile.info {
  margin-top: 10px;
}

.column.car.card {
  top: 33px; 
}

.profile.photo.content {
  margin-top: 5px;
  margin-bottom: 15px;
}

.ui.icon.left.labeled.button.upload.button,
.ui.negative.button.upload.button {
  margin-bottom: 5px;
}